html {
  background: #000;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0 0 0 0;
  background: linear-gradient(#000, #2C2F34);
  color: #FFF;
  font-family: 'Hind Siliguri', sans-serif;
  font-size: 1.1rem;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden; }

a {
  text-decoration: none; }

h1, h2 {
  font-family: 'Acme', sans-serif;
  margin: 70px 0 30px 0;
  font-size: 2.75rem; }

h5 {
  font-family: 'Acme', sans-serif;
  font-size: 1.4rem;
  margin: 20px 0 10px 0; }

h6 {
  font-size: 0.9rem; }

a, a:visited, a:hover {
  color: #6FB66E; }

ul {
  margin: 0 0 30px 0; }

.video-description {
  text-align: center;
  color: #595959;
  font-size: 0.95rem;
  margin-top: 10px; }

header {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 0;
  text-align: right; }
  header.at-top {
    background-color: rgba(0, 0, 0, 0); }
    header.at-top.has-alert {
      padding-top: 0; }
  header.not-at-top {
    box-shadow: 0 0 3px #000;
    background: rgba(38, 38, 38, 0.95); }
    header.not-at-top .news-alert {
      display: none !important; }
    header.not-at-top a, header.not-at-top a:visited {
      transition: color 0.25s; }
      header.not-at-top a:hover, header.not-at-top a:visited:hover {
        color: #6FB66E !important;
        text-decoration: none; }
  header h1 {
    font-size: 1.35rem;
    margin: 0;
    display: inline;
    vertical-align: middle; }
  header a, header a:visited {
    color: #FFF !important;
    font-size: 0.95rem;
    margin-left: 10px;
    vertical-align: middle;
    font-weight: 700; }
    header a:hover, header a:visited:hover {
      text-decoration: underline; }
      header a:hover i, header a:visited:hover i {
        opacity: 1; }
        header a:hover i.fa-facebook, header a:visited:hover i.fa-facebook {
          color: #4484FC; }
        header a:hover i.fa-youtube, header a:visited:hover i.fa-youtube {
          color: #FC0D1B; }
    header a i, header a:visited i {
      font-size: 1.10rem;
      opacity: 0.83;
      transition: opacity 0.5s, color 0.5s; }
  header .news-alert {
    padding: 8px 0;
    margin-bottom: 20px;
    background-color: #000;
    border-bottom: solid 1px #262626;
    overflow: hidden; }
    header .news-alert .news-alert-content {
      font-family: 'Acme', sans-serif;
      font-size: 1.05rem;
      color: #6FB66E;
      text-align: center;
      white-space: nowrap;
      margin-left: 0;
      animation: scrollAlert 2s ease-out;
      -webkit-animation: scrollAlert 2s ease-out; }
      header .news-alert .news-alert-content a {
        font-size: 1.05rem;
        color: #6FB66E !important;
        text-decoration: none;
        margin: 0; }
        header .news-alert .news-alert-content a:hover {
          opacity: 1;
          text-decoration: underline; }

@keyframes scrollAlert {
  0% {
    margin-left: 105%; }
  50% {
    margin-left: 105%; }
  100% {
    margin-left: 0; } }

@-webkit-keyframes scrollAlert {
  0% {
    margin-left: 105%; }
  50% {
    margin-left: 105%; }
  100% {
    margin-left: 0; } }

@keyframes fadeInHeader {
  0% {
    background: rgba(38, 38, 38, 0); }
  100% {
    background: rgba(38, 38, 38, 0.95); } }

@-webkit-keyframes fadeInHeader {
  0% {
    background: rgba(38, 38, 38, 0); }
  100% {
    background: rgba(38, 38, 38, 0.95); } }

footer {
  padding: 50px 0;
  font-family: 'Acme', sans-serif;
  background: #000;
  text-align: center; }
  footer a:hover i {
    opacity: 1; }
  footer a i {
    color: #FFF;
    font-size: 1.40rem;
    margin: 20px 5px;
    opacity: 0.83;
    transition: opacity 0.5s; }

/*
$bigLogoOpacity: 0.08;
.big-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-10deg);
    filter: grayscale(1);
    opacity: $bigLogoOpacity;
    animation: bigLogo 2s ease-out;
    -webkit-animation: bigLogo 2s ease-out;
}
@keyframes bigLogo {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: $bigLogoOpacity;
  }
}
@-webkit-keyframes bigLogo {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: $bigLogoOpacity;
  }
}

.sneaky {
    opacity: 0;
    &.sneaky-show {
        opacity: 1;
        animation: sneakyShow 2s ease-out;
        -webkit-animation: sneakyShow 2s ease-out;
    }
}
@keyframes sneakyShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes sneakyShow {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/
.embed-responsive {
  z-index: 200; }

.section-style1 {
  margin: 50px 0 0 0;
  padding: 5px 0 50px 0;
  background: #262626; }

.ux-form {
  margin: 0 0 0 0;
  padding: 1px 0 50px 0;
  background: #000;
  border-bottom: solid 1px #262626; }
  .ux-form input, .ux-form textarea {
    background: transparent;
    color: #FFF;
    border: solid 1px #262626;
    padding: 10px 20px;
    width: 100%;
    margin: 0 0 20px 0; }
  .ux-form textarea {
    height: 200px; }
  .ux-form button {
    background: #262626;
    border: solid 1px #353535;
    color: #FFF;
    padding: 10px 40px;
    margin: 0 0 20px 0; }
    .ux-form button:hover {
      background: #2b2b2b;
      cursor: pointer; }
  .ux-form .info {
    margin-left: 10px; }
    .ux-form .info.is-error {
      color: red; }

.band-bio {
  text-align: center;
  margin: 0 auto;
  width: 100%; }

.band-image-container {
  outline: solid 5px #FFF;
  height: 300px;
  padding: 0;
  overflow: hidden; }
  .band-image-container .band-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    transition: transform 2s;
    -webkit-transition: -webkit-transform 2s; }
    .band-image-container .band-image:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1); }

.band-member {
  position: relative;
  height: 450px;
  margin: 50px 0;
  box-shadow: 0 0 5px #000;
  cursor: url(/images/cursors/bass.cur), default; }
  .band-member#band-member-david-kiser {
    cursor: url(/images/cursors/pick1.cur), default; }
  .band-member#band-member-rob-stewart {
    cursor: url(/images/cursors/pick2.cur), default; }
  .band-member#band-member-warlock {
    cursor: url(/images/cursors/bass.cur), default; }
  .band-member#band-member-greg-thompson {
    cursor: url(/images/cursors/drums.cur), default; }
  .band-member .band-member-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); }
  .band-member .band-member-image {
    background-size: cover;
    background-position: center 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    opacity: 1;
    transition: opacity 0.5s; }
    .band-member .band-member-image.fadeout-image {
      opacity: 0.25; }
  .band-member .band-member-info {
    position: absolute;
    bottom: 20px;
    left: 24px;
    z-index: 50; }
    .band-member .band-member-info h5 {
      margin: 0; }
    .band-member .band-member-info h6 {
      margin: 0; }
    .band-member .band-member-info .band-member-bio {
      display: none;
      color: #FFF;
      margin: 10px 20px 0 0;
      border-radius: 2px;
      font-size: .9rem;
      line-height: 1.2rem; }

section .container {
  position: relative;
  z-index: 200; }

/*** ABOUT ***/
#about {
  padding: 0 0 80px 0; }

.cover-block {
  height: 150px;
  margin: 15px 0;
  background-color: #2e2e2e;
  position: relative;
  cursor: pointer; }
  .cover-block:hover .cover-block-image, .cover-block.selected .cover-block-image {
    opacity: 0.75;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }
  .cover-block:hover .cover-block-content, .cover-block.selected .cover-block-content {
    height: auto;
    top: unset;
    bottom: 5px;
    width: 90%;
    left: 5%; }
    .cover-block:hover .cover-block-content .cover-block-inner-content, .cover-block.selected .cover-block-content .cover-block-inner-content {
      transform: scale(1.15);
      vertical-align: bottom;
      line-height: 1rem;
      text-align: left;
      text-shadow: -1px 1px #222; }
      .cover-block:hover .cover-block-content .cover-block-inner-content i, .cover-block.selected .cover-block-content .cover-block-inner-content i {
        text-align: right;
        text-shadow: 1px 1px #222;
        color: #FFF;
        font-size: 0.8rem; }
  .cover-block.selected:after {
    font-family: "Font Awesome 5 Free";
    content: "\f164";
    webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    position: absolute;
    font-size: 36px;
    z-index: 10;
    right: -5px;
    top: -13px;
    transform: rotate(-15deg);
    color: #6FB66E;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
  .cover-block .cover-block-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.1;
    -webkit-transition: opacity 0.5s, -webkit-filter 0.5s;
    transition: opacity 0.5s, filter 0.5s; }
  .cover-block .cover-block-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: table; }
    .cover-block .cover-block-content .cover-block-inner-content {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      padding: 0 10px;
      font-size: 1.1rem;
      transition: transform 0.25s ease-in-out; }
      .cover-block .cover-block-content .cover-block-inner-content i {
        color: #a6a6a6;
        display: block; }

/*** SHOWS ***/
.show-map iframe {
  height: 450px;
  width: 100%; }

#shows {
  border-top: solid 1px #262626;
  border-bottom: solid 1px #262626;
  margin: 0;
  padding: 0 0 80px 0; }
  #shows h2 {
    margin: 60px 0 50px 0; }
  #shows .show {
    margin: 0 0 50px 0; }
    #shows .show.past-show {
      border-style: none;
      border-width: 2px;
      border-color: #000;
      padding: 18px 0 10px 0; }
      #shows .show.past-show:not(:last-child) {
        margin: 0 0 0 0; }
      #shows .show.past-show:nth-child(odd) {
        background-color: #2b2b2b; }
      #shows .show.past-show .date-box {
        border: none; }
        #shows .show.past-show .date-box .month {
          background: none;
          margin: 0;
          padding: 0; }
    #shows .show .venue {
      color: #737373; }
    #shows .show h5 {
      margin: 10px 0; }

.date-box {
  border: 2px solid #000;
  height: 100%; }
  .date-box .month {
    background: #000;
    padding: 5px 0;
    margin-bottom: 10px; }
  .date-box .date {
    font-size: 2rem;
    line-height: 2rem;
    margin: 10px 0 2px 0;
    font-family: 'Acme', sans-serif; }
  .date-box .weekday {
    color: #595959;
    font-weight: bold; }
  .date-box .facebook-event-link {
    margin: 10px 0;
    display: inline-block; }
    .date-box .facebook-event-link:hover i, .date-box .facebook-event-link:hover svg {
      color: #4469B0; }
    .date-box .facebook-event-link i, .date-box .facebook-event-link svg {
      font-size: 20px;
      color: #595959;
      transition: color 0.5s; }

/*** SMOKE EFFECT ***/
.smoke {
  position: absolute;
  z-index: 100;
  left: 50%;
  margin: 0 0 0 -200px;
  width: 370px;
  height: 370px;
  opacity: 0;
  top: -400px;
  background: url(/images/smoke.png);
  background-repeat: no-repeat;
  background-size: cover; }

.smoke1 {
  -webkit-animation: smoking 20s linear;
  animation: smoking 20s linear; }

.smoke2 {
  -webkit-animation: smoking 25s linear;
  animation: smoking 25s linear; }

.smoke3 {
  -webkit-animation: smoking 15s linear;
  animation: smoking 15s linear; }

@-webkit-keyframes smoking {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    top: -400px;
    opacity: 1; } }

@keyframes smoking {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  100% {
    top: -400px;
    opacity: 1; } }

/*** PAGE HEADER - HERO - VINTAGE MOVIE EFFECT ***/
@keyframes glitch {
  1% {
    transform: rotateX(10deg) skewX(90deg); }
  2% {
    transform: rotateX(0deg) skewX(0deg); } }

@keyframes white-noise {
  0% {
    opacity: 0; }
  65% {
    opacity: 0; }
  66% {
    opacity: 1; }
  80% {
    opacity: 1; }
  81% {
    opacity: 0; }
  100% {
    opacity: 0; }
  0% {
    clip-path: inset(24px 0 29px 0); }
  1.11111% {
    clip-path: inset(69px 0 16px 0); }
  2.22222% {
    clip-path: inset(49px 0 19px 0); }
  3.33333% {
    clip-path: inset(39px 0 54px 0); }
  4.44444% {
    clip-path: inset(39px 0 4px 0); }
  5.55556% {
    clip-path: inset(33px 0 14px 0); }
  6.66667% {
    clip-path: inset(79px 0 18px 0); }
  7.77778% {
    clip-path: inset(100px 0 1px 0); }
  8.88889% {
    clip-path: inset(36px 0 19px 0); }
  10% {
    clip-path: inset(22px 0 77px 0); }
  11.11111% {
    clip-path: inset(82px 0 11px 0); }
  12.22222% {
    clip-path: inset(66px 0 4px 0); }
  13.33333% {
    clip-path: inset(57px 0 10px 0); }
  14.44444% {
    clip-path: inset(33px 0 15px 0); }
  15.55556% {
    clip-path: inset(11px 0 37px 0); }
  16.66667% {
    clip-path: inset(83px 0 3px 0); }
  17.77778% {
    clip-path: inset(34px 0 41px 0); }
  18.88889% {
    clip-path: inset(85px 0 8px 0); }
  20% {
    clip-path: inset(7px 0 43px 0); }
  21.11111% {
    clip-path: inset(42px 0 56px 0); }
  22.22222% {
    clip-path: inset(67px 0 5px 0); }
  23.33333% {
    clip-path: inset(68px 0 5px 0); }
  24.44444% {
    clip-path: inset(27px 0 69px 0); }
  25.55556% {
    clip-path: inset(44px 0 29px 0); }
  26.66667% {
    clip-path: inset(44px 0 54px 0); }
  27.77778% {
    clip-path: inset(58px 0 14px 0); }
  28.88889% {
    clip-path: inset(8px 0 30px 0); }
  30% {
    clip-path: inset(75px 0 7px 0); }
  31.11111% {
    clip-path: inset(80px 0 17px 0); }
  32.22222% {
    clip-path: inset(94px 0 6px 0); }
  33.33333% {
    clip-path: inset(21px 0 60px 0); }
  34.44444% {
    clip-path: inset(64px 0 1px 0); }
  35.55556% {
    clip-path: inset(63px 0 37px 0); }
  36.66667% {
    clip-path: inset(45px 0 18px 0); }
  37.77778% {
    clip-path: inset(82px 0 2px 0); }
  38.88889% {
    clip-path: inset(52px 0 18px 0); }
  40% {
    clip-path: inset(70px 0 23px 0); }
  41.11111% {
    clip-path: inset(77px 0 22px 0); }
  42.22222% {
    clip-path: inset(65px 0 12px 0); }
  43.33333% {
    clip-path: inset(65px 0 13px 0); }
  44.44444% {
    clip-path: inset(15px 0 66px 0); }
  45.55556% {
    clip-path: inset(47px 0 41px 0); }
  46.66667% {
    clip-path: inset(4px 0 63px 0); }
  47.77778% {
    clip-path: inset(70px 0 22px 0); }
  48.88889% {
    clip-path: inset(44px 0 14px 0); }
  50% {
    clip-path: inset(92px 0 5px 0); }
  51.11111% {
    clip-path: inset(61px 0 30px 0); }
  52.22222% {
    clip-path: inset(68px 0 10px 0); }
  53.33333% {
    clip-path: inset(64px 0 19px 0); }
  54.44444% {
    clip-path: inset(32px 0 26px 0); }
  55.55556% {
    clip-path: inset(37px 0 46px 0); }
  56.66667% {
    clip-path: inset(55px 0 25px 0); }
  57.77778% {
    clip-path: inset(84px 0 4px 0); }
  58.88889% {
    clip-path: inset(64px 0 24px 0); }
  60% {
    clip-path: inset(81px 0 13px 0); }
  61.11111% {
    clip-path: inset(99px 0 1px 0); }
  62.22222% {
    clip-path: inset(28px 0 66px 0); }
  63.33333% {
    clip-path: inset(52px 0 47px 0); }
  64.44444% {
    clip-path: inset(71px 0 14px 0); }
  65.55556% {
    clip-path: inset(82px 0 5px 0); }
  66.66667% {
    clip-path: inset(69px 0 6px 0); }
  67.77778% {
    clip-path: inset(99px 0 2px 0); }
  68.88889% {
    clip-path: inset(97px 0 2px 0); }
  70% {
    clip-path: inset(97px 0 3px 0); }
  71.11111% {
    clip-path: inset(33px 0 5px 0); }
  72.22222% {
    clip-path: inset(97px 0 3px 0); }
  73.33333% {
    clip-path: inset(81px 0 16px 0); }
  74.44444% {
    clip-path: inset(100px 0 1px 0); }
  75.55556% {
    clip-path: inset(45px 0 27px 0); }
  76.66667% {
    clip-path: inset(9px 0 63px 0); }
  77.77778% {
    clip-path: inset(16px 0 63px 0); }
  78.88889% {
    clip-path: inset(61px 0 27px 0); }
  80% {
    clip-path: inset(55px 0 29px 0); }
  81.11111% {
    clip-path: inset(6px 0 93px 0); }
  82.22222% {
    clip-path: inset(94px 0 7px 0); }
  83.33333% {
    clip-path: inset(61px 0 9px 0); }
  84.44444% {
    clip-path: inset(100px 0 1px 0); }
  85.55556% {
    clip-path: inset(59px 0 2px 0); }
  86.66667% {
    clip-path: inset(41px 0 60px 0); }
  87.77778% {
    clip-path: inset(38px 0 56px 0); }
  88.88889% {
    clip-path: inset(2px 0 74px 0); }
  90% {
    clip-path: inset(41px 0 35px 0); }
  91.11111% {
    clip-path: inset(59px 0 12px 0); }
  92.22222% {
    clip-path: inset(28px 0 72px 0); }
  93.33333% {
    clip-path: inset(2px 0 9px 0); }
  94.44444% {
    clip-path: inset(72px 0 23px 0); }
  95.55556% {
    clip-path: inset(11px 0 9px 0); }
  96.66667% {
    clip-path: inset(91px 0 1px 0); }
  97.77778% {
    clip-path: inset(49px 0 7px 0); }
  98.88889% {
    clip-path: inset(5px 0 93px 0); }
  100% {
    clip-path: inset(54px 0 10px 0); } }

@keyframes black-noise {
  0% {
    opacity: 1; }
  10% {
    opacity: 1; }
  11% {
    opacity: 0; }
  50% {
    opacity: 0; }
  51% {
    opacity: 1; }
  80% {
    opacity: 1; }
  81% {
    opacity: 0; }
  100% {
    opacity: 0; }
  0% {
    clip-path: inset(72px 0 12px 0); }
  1.11111% {
    clip-path: inset(95px 0 6px 0); }
  2.22222% {
    clip-path: inset(48px 0 10px 0); }
  3.33333% {
    clip-path: inset(43px 0 40px 0); }
  4.44444% {
    clip-path: inset(10px 0 9px 0); }
  5.55556% {
    clip-path: inset(79px 0 9px 0); }
  6.66667% {
    clip-path: inset(38px 0 42px 0); }
  7.77778% {
    clip-path: inset(53px 0 35px 0); }
  8.88889% {
    clip-path: inset(24px 0 22px 0); }
  10% {
    clip-path: inset(85px 0 8px 0); }
  11.11111% {
    clip-path: inset(78px 0 8px 0); }
  12.22222% {
    clip-path: inset(84px 0 11px 0); }
  13.33333% {
    clip-path: inset(12px 0 10px 0); }
  14.44444% {
    clip-path: inset(10px 0 7px 0); }
  15.55556% {
    clip-path: inset(3px 0 69px 0); }
  16.66667% {
    clip-path: inset(72px 0 4px 0); }
  17.77778% {
    clip-path: inset(83px 0 9px 0); }
  18.88889% {
    clip-path: inset(26px 0 29px 0); }
  20% {
    clip-path: inset(33px 0 66px 0); }
  21.11111% {
    clip-path: inset(71px 0 23px 0); }
  22.22222% {
    clip-path: inset(52px 0 39px 0); }
  23.33333% {
    clip-path: inset(32px 0 8px 0); }
  24.44444% {
    clip-path: inset(20px 0 57px 0); }
  25.55556% {
    clip-path: inset(43px 0 29px 0); }
  26.66667% {
    clip-path: inset(23px 0 72px 0); }
  27.77778% {
    clip-path: inset(4px 0 73px 0); }
  28.88889% {
    clip-path: inset(76px 0 17px 0); }
  30% {
    clip-path: inset(30px 0 18px 0); }
  31.11111% {
    clip-path: inset(4px 0 34px 0); }
  32.22222% {
    clip-path: inset(11px 0 57px 0); }
  33.33333% {
    clip-path: inset(30px 0 36px 0); }
  34.44444% {
    clip-path: inset(23px 0 49px 0); }
  35.55556% {
    clip-path: inset(59px 0 39px 0); }
  36.66667% {
    clip-path: inset(100px 0 1px 0); }
  37.77778% {
    clip-path: inset(97px 0 3px 0); }
  38.88889% {
    clip-path: inset(82px 0 16px 0); }
  40% {
    clip-path: inset(13px 0 26px 0); }
  41.11111% {
    clip-path: inset(83px 0 3px 0); }
  42.22222% {
    clip-path: inset(9px 0 49px 0); }
  43.33333% {
    clip-path: inset(75px 0 9px 0); }
  44.44444% {
    clip-path: inset(15px 0 15px 0); }
  45.55556% {
    clip-path: inset(71px 0 1px 0); }
  46.66667% {
    clip-path: inset(21px 0 25px 0); }
  47.77778% {
    clip-path: inset(21px 0 32px 0); }
  48.88889% {
    clip-path: inset(91px 0 2px 0); }
  50% {
    clip-path: inset(89px 0 1px 0); }
  51.11111% {
    clip-path: inset(81px 0 18px 0); }
  52.22222% {
    clip-path: inset(92px 0 7px 0); }
  53.33333% {
    clip-path: inset(25px 0 23px 0); }
  54.44444% {
    clip-path: inset(22px 0 64px 0); }
  55.55556% {
    clip-path: inset(62px 0 31px 0); }
  56.66667% {
    clip-path: inset(24px 0 47px 0); }
  57.77778% {
    clip-path: inset(62px 0 25px 0); }
  58.88889% {
    clip-path: inset(84px 0 8px 0); }
  60% {
    clip-path: inset(22px 0 39px 0); }
  61.11111% {
    clip-path: inset(22px 0 4px 0); }
  62.22222% {
    clip-path: inset(72px 0 14px 0); }
  63.33333% {
    clip-path: inset(87px 0 7px 0); }
  64.44444% {
    clip-path: inset(94px 0 7px 0); }
  65.55556% {
    clip-path: inset(90px 0 10px 0); }
  66.66667% {
    clip-path: inset(46px 0 50px 0); }
  67.77778% {
    clip-path: inset(16px 0 49px 0); }
  68.88889% {
    clip-path: inset(20px 0 37px 0); }
  70% {
    clip-path: inset(89px 0 6px 0); }
  71.11111% {
    clip-path: inset(38px 0 57px 0); }
  72.22222% {
    clip-path: inset(26px 0 34px 0); }
  73.33333% {
    clip-path: inset(2px 0 92px 0); }
  74.44444% {
    clip-path: inset(84px 0 6px 0); }
  75.55556% {
    clip-path: inset(36px 0 14px 0); }
  76.66667% {
    clip-path: inset(66px 0 10px 0); }
  77.77778% {
    clip-path: inset(76px 0 3px 0); }
  78.88889% {
    clip-path: inset(58px 0 1px 0); }
  80% {
    clip-path: inset(76px 0 16px 0); }
  81.11111% {
    clip-path: inset(3px 0 61px 0); }
  82.22222% {
    clip-path: inset(22px 0 24px 0); }
  83.33333% {
    clip-path: inset(3px 0 67px 0); }
  84.44444% {
    clip-path: inset(28px 0 3px 0); }
  85.55556% {
    clip-path: inset(25px 0 7px 0); }
  86.66667% {
    clip-path: inset(54px 0 28px 0); }
  87.77778% {
    clip-path: inset(11px 0 17px 0); }
  88.88889% {
    clip-path: inset(93px 0 6px 0); }
  90% {
    clip-path: inset(47px 0 44px 0); }
  91.11111% {
    clip-path: inset(81px 0 16px 0); }
  92.22222% {
    clip-path: inset(64px 0 27px 0); }
  93.33333% {
    clip-path: inset(91px 0 9px 0); }
  94.44444% {
    clip-path: inset(92px 0 5px 0); }
  95.55556% {
    clip-path: inset(70px 0 13px 0); }
  96.66667% {
    clip-path: inset(25px 0 68px 0); }
  97.77778% {
    clip-path: inset(92px 0 5px 0); }
  98.88889% {
    clip-path: inset(12px 0 42px 0); }
  100% {
    clip-path: inset(67px 0 10px 0); } }

@keyframes hero-flicker {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; } }

@keyframes hero-cta {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  65% {
    opacity: 1; } }

@keyframes hero-video-cover {
  0% {
    opacity: 0.10; }
  60% {
    opacity: 0.10; }
  65% {
    opacity: 0.35; } }

.page-header.has-alert .logo {
  top: 65px; }

.page-header.has-alert .fb-like {
  top: 230px; }

.page-header.has-alert .hero {
  margin-top: 43px; }

.page-header .logo {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 30; }
  .page-header .logo:hover img {
    opacity: 1; }
  .page-header .logo img {
    opacity: 0.75;
    height: 150px;
    width: 150px;
    transition: opacity 0.5s; }

.page-header .fb-like {
  position: absolute;
  z-index: 30;
  left: 30px;
  top: 195px;
  width: 150px;
  text-align: center;
  opacity: 0.8;
  transition: opacity 0.5s; }
  .page-header .fb-like:hover {
    opacity: 1; }

.page-header .hero {
  position: relative;
  height: 700px; }
  .page-header .hero.small-hero {
    height: 600px; }
    .page-header .hero.small-hero .hero-image {
      height: 600px; }
  .page-header .hero .hero-image {
    position: absolute;
    z-index: 10;
    background-image: url(/images/dkiser5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 700px;
    width: 100%; }
    .page-header .hero .hero-image.hero-grayscale {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .page-header .hero .hero-image.hero-band {
      background-image: url(/images/band-1920s-bw.jpg);
      background-position: center center; }
    .page-header .hero .hero-image.hero-darker:after {
      content: '';
      display: block;
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
  .page-header .hero .hero-video {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 700px;
    overflow: hidden; }
    .page-header .hero .hero-video.hero-grayscale {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
    .page-header .hero .hero-video video {
      min-width: 100%;
      min-height: 100%; }
    .page-header .hero .hero-video .hero-video-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.35;
      animation: hero-video-cover 10s linear; }
  .page-header .hero .hero-text {
    position: absolute;
    z-index: 20;
    bottom: 100px;
    width: 100%;
    left: 0;
    text-align: center; }
    .page-header .hero .hero-text h1 {
      text-align: center;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1); }
      .page-header .hero .hero-text h1.glitch {
        color: #FFF;
        position: relative;
        opacity: 1;
        margin-top: 0;
        animation: glitch 5s 5s linear infinite, hero-flicker 10s ease-in; }
        .page-header .hero .hero-text h1.glitch:after {
          content: attr(data-text);
          position: absolute;
          left: 1px;
          text-shadow: -1px 0 #000;
          color: #FFF;
          overflow: hidden;
          top: 0;
          width: 100%;
          text-align: center;
          animation: black-noise 10s linear infinite alternate-reverse, glitch 5s 5s linear infinite; }
    .page-header .hero .hero-text .hero-cta {
      font-family: 'Acme', sans-serif;
      font-size: 2rem;
      line-height: 2rem;
      text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
      text-decoration: none;
      transition: color .25s;
      animation: hero-cta 10s linear; }
      .page-header .hero .hero-text .hero-cta:hover {
        color: #91c790; }

/*** MEDIA QUERIES ***/
@media (max-width: 480px) {
  .page-header .hero .hero-video video {
    margin-left: -200px;
    height: 100%; } }

/*Phones (<768px)*/
@media (min-width: 768px) {
  .band-bio {
    width: 75%; }
  .band-member .band-member-info .band-member-bio {
    font-size: 1rem;
    line-height: 1.4rem; }
  .page-header .hero h1 {
    font-size: 3.75rem; }
  .page-header .hero .hero-text {
    bottom: 25%;
    width: 80%;
    left: 10%; }
  .page-header .hero.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: jumpy;
    animation-name: jumpy;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    content: "";
    visibility: visible;
    z-index: 140; }
    .page-header .hero.animated .hero-image:before {
      -webkit-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: movingstripe2;
      animation-name: movingstripe;
      border-left: solid 2px rgba(85, 85, 85, 0.5);
      border-right: solid 2px rgba(85, 85, 85, 0.5);
      content: "";
      height: 100%;
      left: 50%;
      padding: 2px;
      position: absolute;
      width: 400px;
      /* old */
      width: 40vm;
      /* IE9 */
      width: 40vmin;
      z-index: 4; }
    .page-header .hero.animated:before {
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: movingstripe;
      animation-name: movingstripe;
      border-left: solid 3px rgba(85, 85, 85, 0.4);
      border-right: solid 2px rgba(85, 85, 85, 0.4);
      -webkit-box-shadow: 0 0 10px rgba(85, 85, 85, 0.5);
      box-shadow: 0 0 10px rgba(85, 85, 85, 0.5);
      content: "";
      height: 100%;
      left: -300px;
      padding: 2px;
      position: absolute;
      width: 500px;
      /* old */
      width: 500vm;
      /* IE9 */
      width: 50vmin;
      z-index: 2; }
    .page-header .hero.animated:after {
      -webkit-animation-duration: 4s;
      animation-duration: 4s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: vignette;
      animation-name: vignette;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      content: "";
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      -ms-transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      width: 100%;
      visibility: visible;
      z-index: 5; } }

@keyframes jumpy {
  0% {
    transform: translateY(2px); }
  20% {
    transform: translateY(-2px); }
  35% {
    transform: translateY(-2px); }
  50% {
    transform: translateY(2px); }
  65% {
    transform: translateY(-2px); }
  80% {
    transform: translateY(5px); }
  100% {
    transform: translateY(-5px); } }

@-webkit-keyframes jumpy {
  0% {
    -webkit-transform: translateY(2px); }
  20% {
    -webkit-transform: translateY(-2px); }
  35% {
    -webkit-transform: translateY(-2px); }
  50% {
    -webkit-transform: translateY(2px); }
  65% {
    -webkit-transform: translateY(-2px); }
  80% {
    -webkit-transform: translateY(5px); }
  100% {
    -webkit-transform: translateY(-5px); } }

@keyframes {
  0% {
    box-shadow: inset 0 0 150px #000; }
  20% {
    box-shadow: inset 0 0 550px #000; }
  35% {
    box-shadow: inset 0 0 150px #000; }
  50% {
    box-shadow: inset 0 0 200px #000; }
  65% {
    box-shadow: inset 0 0 550px #000; }
  80% {
    box-shadow: inset 0 0 250px #000; }
  100% {
    box-shadow: inset 0 0 150px #000; } }

@-webkit-keyframes vignette {
  0% {
    -webkit-box-shadow: inset 0 0 150px #000; }
  20% {
    -webkit-box-shadow: inset 0 0 550px #000; }
  35% {
    -webkit-box-shadow: inset 0 0 150px #000; }
  50% {
    -webkit-box-shadow: inset 0 0 200px #000; }
  65% {
    -webkit-box-shadow: inset 0 0 550px #000; }
  80% {
    -webkit-box-shadow: inset 0 0 250px #000; }
  100% {
    -webkit-box-shadow: inset 0 0 150px #000; } }

@keyframes movingstripe {
  0% {
    transform: translateX(0px); }
  15% {
    transform: translateX(300px); }
  50% {
    transform: translateX(500px); }
  80% {
    transform: translateX(0px); }
  100% {
    transform: translateX(1400px); } }

@-webkit-keyframes movingstripe {
  0% {
    -webkit-transform: translateX(0px); }
  15% {
    -webkit-transform: translateX(300px); }
  50% {
    -webkit-transform: translateX(500px); }
  80% {
    -webkit-transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(1400px); } }

@keyframes movingstripe2 {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(600px); } }

@-webkit-keyframes movingstripe2 {
  0% {
    -webkit-transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(600px); } }

@keyframes speckles {
  0% {
    visibility: hidden; }
  55% {
    visibility: visible; }
  60% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

@-webkit-keyframes speckles {
  0% {
    visibility: hidden; }
  55% {
    visibility: visible; }
  60% {
    visibility: hidden; }
  100% {
    visibility: hidden; } }

@keyframes letterfocus {
  0% {
    text-shadow: 1px 1px 2px #e0e0e0, 0 0 0 #000, 1px 1px 2px #e0e0e0; }
  20% {
    text-shadow: 1px 2px 1px #e0e0e0, 0 0 0 #000, 1px 2px 1px #e0e0e0; }
  35% {
    text-shadow: 1px 1px 2px #e0e0e0, 0 0 0 #000, 1px 1px 2px #e0e0e0; }
  40% {
    text-shadow: none; }
  70% {
    text-shadow: 1px 1px 2px #e0e0e0, 0 0 0 #000, 1px 1px 2px #e0e0e0; }
  80% {
    text-shadow: 1px 2px 1px #e0e0e0, 0 0 0 #000, 1px 2px 1px #e0e0e0; }
  100% {
    text-shadow: 1px 2px 3px #e0e0e0, 0 0 0 #000, 1px 2px 3px #e0e0e0; } }

@-webkit-keyframes letterfocus {
  0% {
    text-shadow: 1px 1px 2px #e0e0e0, 0 0 0 #000, 1px 1px 2px #e0e0e0; }
  20% {
    text-shadow: 1px 2px 1px #e0e0e0, 0 0 0 #000, 1px 2px 1px #e0e0e0; }
  35% {
    text-shadow: 1px 1px 2px #e0e0e0, 0 0 0 #000, 1px 1px 2px #e0e0e0; }
  40% {
    text-shadow: none; }
  70% {
    text-shadow: 1px 1px 2px #e0e0e0, 0 0 0 #000, 1px 1px 2px #e0e0e0; }
  80% {
    text-shadow: 1px 2px 1px #e0e0e0, 0 0 0 #000, 1px 2px 1px #e0e0e0; }
  100% {
    text-shadow: 1px 2px 3px #e0e0e0, 0 0 0 #000, 1px 2px 3px #e0e0e0; } }

@media (max-width: 767px) {
  header {
    text-align: center;
    padding: 10px 0 !important; }
    header.at-top {
      box-shadow: 0 0 3px #000;
      background: rgba(38, 38, 38, 0.95); }
    header.not-at-top {
      animation: none;
      -webkit-animation: none; }
    header a:first-child {
      margin-left: 0; }
    header a, header a:visited {
      margin-left: 5px; }
  .page-header .logo {
    top: 320px !important;
    left: 10px;
    margin-left: 0;
    opacity: 1; }
    .page-header .logo img {
      height: 100px;
      width: 100px; }
  .page-header .fb-like {
    top: 365px !important;
    left: auto;
    right: 10px;
    text-align: right; }
  .page-header .hero {
    height: 400px !important;
    margin: 0 !important; }
    .page-header .hero .hero-text {
      opacity: 1; }
      .page-header .hero .hero-text h1.glitch {
        margin-bottom: 20px;
        animation: none;
        -webkit-animation: none; }
        .page-header .hero .hero-text h1.glitch:after {
          display: none;
          animation: none;
          -webkit-animation: none; }
      .page-header .hero .hero-text .hero-cta {
        animation: none;
        -webkit-animation: none; }
    .page-header .hero .hero-image {
      height: 400px !important;
      border-radius: 0; }
    .page-header .hero .hero-video {
      height: 400px !important;
      border-radius: 0; }
      .page-header .hero .hero-video video {
        margin-left: -180px; }
  #shows .show {
    margin: 0 0 50px 0; }
  .date-box {
    height: auto; } }

/* Tablets (>=768px)*/
@media (min-width: 991px) {
  .page-header .hero .hero-text {
    bottom: 30%; }
  .band-image-container {
    height: 400px; } }

/* Tablets (>=768px)*/
@media (min-width: 1200px) {
  .page-header .hero .hero-text {
    width: 60%;
    left: 20%; } }

@media (min-width: 1400px) {
  .page-header .hero .hero-text {
    width: 50%;
    left: 25%; } }

@media (min-width: 1800px) {
  .page-header .hero {
    height: 900px; }
    .page-header .hero h1 {
      font-size: 4.2rem; }
    .page-header .hero .hero-text {
      width: 40%;
      left: 30%; }
    .page-header .hero .hero-video {
      height: 900px; }
    .page-header .hero .hero-image {
      height: 900px; } }
