{% if affiliates.showAds %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<a href="https://infinitycybershop.com" class="ad cybershop" target="_blank">
					<img src="/images/cybershop.png" alt="">
					<span>One of a Kind, Handcrafted Jewelry, Artwork and Cosplay</span>
				</a>
			</div>
		</div>
	</div>
{% endif %}