/*****************************/
/********** EXIT 85 **********/
/*****************************/


/***** COLORS *****/

$background-gray: #262626; //#2C2F34;
$black: #000000;
$brand-color: #6db76b; //#6FB66E;
$white: #FFFFFF;
$font-color: $white;
$caption-color: #8e8e8e;
$border-color: #444444;

/***** FONTS *****/

$font-family: 'Hind Siliguri', sans-serif;
$header-font-family: 'Acme', sans-serif;
$root-font-size: 16px;

@mixin smallFont {
	font-size: 0.95rem;
	line-height: 1.3rem;
}

@mixin regularFont {
	font-size: 1rem;
	line-height: 1.5rem;
}


/***** BREAKPOINTS *****/

$breakpoint-xs: 375px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-air: 1180px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;


/***** SPACING *****/

$container-padding: 24px;
$hero-max-width: 1550px;
$nav-height: 100px;
$section-margin: 100px;
$section-mobile-margin: 60px;
$copy-gap: 24px;
$small-copy-gap: 12px;
$block-gap: 36px;


/***** BORDERS *****/

$border-radius: 4px;
$border-style: solid 1px $border-color;


/***** EFFECTS *****/

$transition-time: 0.3s;