/*****************************/
/********** EXIT 85 **********/
/*****************************/

@import 'webpagevars';

/***** BASE STYLES *****/

html {
	background: $black;
	font-family: $font-family;
	font-size: $root-font-size;
	height: 100vh;
	scroll-behavior: smooth;
}

body {
	background-color: $black;
	background: linear-gradient($black, $background-gray);
	color: $white;
	margin: 0;

	@include regularFont;
}

svg {
	fill: $white;
}

/***** TYPOGRAPHY *****/

h1, h2, h3, h4 {
	font-family: $header-font-family;
	font-weight: 500;
	margin: $block-gap 0 $copy-gap 0;
}

h1 {
	font-size: 2.5rem; /* 40px */
	line-height: 1.2;
}

h2 {
	@include h2Font; /* 32px */
}

h3 {
	font-size: 1.75rem; /* 28px */
	line-height: 1.3;
}

h4 {
	font-size: 1.5rem; /* 24px */
	line-height: 1.3;
}

h5 {
	font-size: 1.25rem; /* 20px */
	line-height: 1.4;
}

h6 {
	font-size: 0.95rem; /* 16px */
	line-height: 1.3;
}

@media (min-width: $breakpoint-md)
{
	h1 {
	  font-size: 3.5rem; /* 56px */
	  line-height: 1.2;
	}

	h2 {
	  font-size: 2.75rem; /* 44px */
	  line-height: 1.2;
	}

	h3 {
	  font-size: 2.25rem; /* 36px */
	  line-height: 1.3;
	}

	h4 {
	  font-size: 1.75rem; /* 28px */
	  line-height: 1.3;
	}

	h5 {
	  font-size: 1.5rem; /* 24px */
	  line-height: 1.4;
	}

	h6 {
	  font-size: 1.25rem; /* 20px */
	  line-height: 1.4;
	}
}

small {
	@include smallFont;
}

p {
	@include regularFont;
	margin: $copy-gap 0;
}


/***** LINKS *****/

a {
	color: $brand-color;
	position: relative;
	text-decoration: none;

	&:after {
		background: $brand-color;
		bottom: 0;
		content: '';
		height: 1px;
		left: 0;
		margin-left: 50%;
		position: absolute;
		transition: width $transition-time ease, margin-left $transition-time ease;
		width: 0;
	}

	&:hover {
		&:after {
			margin-left: 0; // 5%;
			width: 98%;
		}
	}
}

h1, h2 {
	a:after {
		height: 3px;
	}
}

h3, h4, h5 {
	a:after {
		height: 2px;
	}
}


/***** CONTAINERS *****/

.container {
	margin: 0 auto;
	max-width: 540px;
	padding-left: $container-padding;
    padding-right: $container-padding;

    .container {
		padding-left: 0;
	    padding-right: 0;    	
    }
}
@media (max-width: $breakpoint-md)
{
	.container {
	    &.fluid-mobile {
	    	max-width: none;
			padding-left: 0;
		    padding-right: 0;
	    }
	}
}
@media (min-width: $breakpoint-md)
{
	.container {
		max-width: 720px;

		&.narrow {
			max-width: 550px;
		}
	}
}
@media (min-width: $breakpoint-lg)
{
	.container {
		max-width: 960px;
	}
}
@media (min-width: $breakpoint-xl)
{
	.container {
		max-width: 1140px;

		&.narrow {
			max-width: 800px;
		}
	}
}


/***** HEADER *****/

header {
	background-color: transparent;
	position: absolute;
	height: 10px;
	padding: 16px 0;
	width: 100%;
	z-index: 20;
	transition: height $transition-time;

	&.sticky {
		background-color: $background-gray;
		box-shadow: 0 2px 10px 0 $black;
		height: $nav-height - 32px;
		position: fixed;

		.container {
			.fb-like {
				display: none;
			}
			.logo {
				img {
					box-shadow: -2px 2px 10px -2px $black;
					height: 90px;
					margin-top: -5px;
					opacity: 0.9;
					transform: rotate(-10deg);
				}
			}
		}
	}

	.container {
		display: grid;
		gap: 8px;
		grid-template-areas: "nav";
		justify-content: start;

		.logo {
			grid-area: log;
			display: none;

			&:hover {
				img {
					opacity: 1;
				}
			}

			&:after {
				background: none;
				width: auto;
			}

			img {
			    height: 150px;
		    	width: auto;
		    	opacity: 0.8;
		    	transition: opacity $transition-time, height $transition-time, transform $transition-time;
		    }
		}

		.fb-like {
			grid-area: fac;
			display: none;
		}

		nav {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: $copy-gap;
			grid-area: nav;
			height: $nav-height - 40px;
			justify-content: center;

			a {
				color: $white;
				text-transform:	uppercase;

				&.icon {
					&:after {
						display: none;
					}
					&:hover {
						svg {
							fill: $brand-color;
						}
					}
					svg {
						transition: fill $transition-time;
						height: 18px;
						width: 18px;
					}
				}
			}
		}
	}

	@media (min-width: $breakpoint-md)
	{
		.container {
			justify-content: initial;
			grid-template-areas: 
				"log nav"
				"fac nav";

			.logo, .fb-like {
				display: block;
			}

			nav {
				justify-content: end;
			}
		}
	}
}


/***** FOOTER *****/

footer {
	background-color: $black;
	font-family: $header-font-family;
	font-weight: 600;
	padding: 100px $container-padding;
	text-align: center;

	a.icon {
		margin: 0 $small-copy-gap;

		&:after {
			display: none;
		}
		&:hover {
			svg {
				fill: $brand-color;
			}
		}
		svg {
			transition: fill $transition-time;
		}
	}

	nav {
		margin: 0 0 $copy-gap 0;
		
		a {
			color: $white;
			margin: 0 $small-copy-gap;
		}
	}

	div {
		margin: $copy-gap 0 0 0;
	}
}


/***** FORMS *****/

form {
	input, textarea {
	    background: transparent;
	    color: $white;
	    border: $border-style;
	    padding: $small-copy-gap $copy-gap;
	    width: auto;

	    &textarea {
	    	height: 100px;
	    }

	    @include regularFont;

	    &:focus {
	    	outline: solid 1px $brand-color; // lighten($border-color, 10%);
	    }
	}
}

button, .button {
    background: $background-gray;
    border: $border-style;
    border-radius: $border-radius;
    color: $white;
    cursor: pointer;
    padding: $small-copy-gap $block-gap;
    transition: color $transition-time, background-color $transition-time;
    height: 50px;
    width: fit-content;
    min-width: 140px;
    text-transform: uppercase;

    @include regularFont;

    &:hover {
    	background-color: $brand-color;
    	color: $black;
    }
}


/***** PAGE HEADER *****/

.page-header, .hero {
	a, span {
		font-family: $header-font-family;
		font-weight: 500;
		text-shadow: 1px 2px 8px rgba(0, 0, 0, 1);

		@include h2Font;

		&:after {
			bottom: -8px;
			height: 3px;
			text-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
		}
	}
}

.page-header {
	padding-top: 100px;

	@media (min-width: $breakpoint-md)
	{
		padding-top: 200px;
		text-align: center;
	}
}

.hero {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: repeating-linear-gradient(0deg, transparent, transparent 1px, $black 3px),
		          repeating-linear-gradient(90deg, transparent, transparent 1px, $black 3px);
		opacity: 0.85;
	}

	@keyframes arrow-animate {
		40%, 48%, 56% {
			transform: translate(0, 0);
		}
		44%, 52% {
			transform: translate(0, 0.2em);
		}
	}

	.down-arrow {
		animation: arrow-animate 5s infinite;
	    background: none;
	    border: none;
		color: $brand-color;
		cursor: pointer;
		font-family: monospace, serif;
		font-size: 4.5rem;
		font-weight: 700;
		line-height: 0;
		opacity: 0.7;
		transition: opacity $transition-time;

	    position: absolute;
	    bottom: 80px;
	    left: 50%;
	    transform: translateX(-50%);
	    z-index: 10;

	    &:hover {
	    	animation: none;
	    	opacity: 1;
	    }
    
		&:before, &:after {
			background: none;
			content: '^';
			margin-left: -25px;
			position: absolute;
			text-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
			transform: rotate(180deg);
			width: auto;
		}

		&:after {
			top: 1.2rem;
		}

		&:before {
			top: 0;
		}
	}

	video {
		height: 100%;
		left: 50%;
		object-fit: cover;
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		width: 100%;
	}

	> div.container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		margin: 0;

		h1 {
			text-shadow: 1px 2px 8px rgba(0, 0, 0, 1);
		}
		
	}
}


/***** MODULES *****/

figure {
	margin: 0;

	figcaption {
		text-align: center;
	    color: $caption-color;
	    margin-top: $small-copy-gap;

	    @include smallFont;
	}
}

section {
	padding: $section-mobile-margin 0;

	@media (min-width: $breakpoint-md)
	{
		padding: $section-margin 0;
	}

	.container {
		> h1:first-child, > h2:first-child, > h3:first-child, > h4:first-child {
			margin-top: 0;
		}
	}

	&.alternate {
		background-color: $background-gray;
	}

	&.copy {
		&+.form,
		&+.songs,
		&+.shows,
		&+.photos,
		&+.videos {
			padding-top: $small-copy-gap;
			margin-top: -($section-mobile-margin);
		}

		&.center,
		&.center-mobile {
			text-align: center;
		}

		@media (min-width: $breakpoint-md)
		{
			&+.videos {
				margin-top: -($section-margin);
			}

			&.center-mobile {
				text-align: left;
			}
		}
	}

	&.form {
		form {
			display: grid;
			grid-template-columns: 1fr;
			gap: $copy-gap;

			textarea {
				height: 100px;
			}

			.info {
				color: $brand-color;
			}
		}

		@media (min-width: $breakpoint-md)
		{
			form {
				grid-template-columns: 1fr 1fr;

				textarea {
					grid-column: span 2;
				}

				.info {
					text-align: right;
				}
			}
		}
	}

	&.photos {

		&[data-count="1"] {
			.container {
				grid-template-columns: 1fr !important;

				figure img {
					width: 756px;
				}
			}
		}

		.container {
			display: grid;
			gap: $small-copy-gap;
  			grid-template-columns: 1fr;

		    figure {
		    	line-height: 0;
		    	text-align: center;

			    &.in-view {
			    	img {
			    		filter: grayscale(0);
			    	}
			    }

			    img {
			    	border-radius: $border-radius;
			    	filter: grayscale(100%);
			    	height: auto;
			    	max-width: 100%;
			    	transition: filter 1s, box-shadow $transition-time, transform $transition-time;
			    	will-change: transform, filter, box-shadow;
			    }
		    }
		}

		@media (min-width: $breakpoint-md)
		{
			.container {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		@media (min-width: $breakpoint-lg)
		{
			.container {
				grid-template-columns: repeat(3, 1fr);

				figure {
					&:nth-of-type(12n+1) {
						grid-column: 1;
						grid-row: 1;
					}
					&:nth-of-type(12n+2) {
						grid-column: 1;
						grid-row: 2;
					}
					&:nth-of-type(12n+3) {
						grid-column: 2 / span 2;
						grid-row: 1 / span 2;
					}
					&:nth-of-type(12n+4) {
						grid-row: span 2;
						grid-column: span 2;
					}
					&:nth-of-type(12n+5),
					&:nth-of-type(12n+6) {
						grid-row: span 1;
						grid-column: span 1;
					}
					&:nth-of-type(12n+7) {
						grid-column: 1;
						grid-row: 5;
					}
					&:nth-of-type(12n+8) {
						grid-column: 1;
						grid-row: 6;
					}
					&:nth-of-type(12n+9) {
						grid-column: 2 / span 2;
						grid-row: 5 / span 2;
					}
					&:nth-of-type(12n+10) {
						grid-column: span 2;
	    				grid-row: 7 / span 2;
					}
					&:nth-of-type(12n+11) {
						grid-column: 3;
	    				grid-row: 7;
					}
					&:nth-of-type(12n+11) {
						grid-column: 3;
	    				grid-row: 8;
					}

					img {
						width: 100%;
					}
				}
			}
		}

	}

	&.songs {
		h4 {
			text-align: center;
		}
		article {
			display: grid;
			gap: $small-copy-gap;
			grid-template-columns: 1fr;
			justify-items: center;

			figure {
				position: relative;
				aspect-ratio: 16 / 9;
				background-color: $background-gray;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 276px;

				&.in-view {
					cursor: default;

					img {
						opacity: 0.25;
					    // filter: grayscale(50%);
					}
					figcaption {
						// transform: scale(1.1);

						h6 {
							text-shadow: 1px 1px 6px $black;
						}
						span {
							// color: $white;
							text-shadow: 1px 1px 6px $black;
						}
					}
				}

				img {
					border-radius: $border-radius;
					position: absolute;
					z-index: 2;
					top: 0;
					left: 0;
					max-width: 100%;
					height: auto;
					filter: grayscale(100%);
				    opacity: 0.1;
				    transition: filter $transition-time, opacity $transition-time;
				}
				figcaption {
					position: relative;
					z-index: 3;
					margin: 0;
					width: 100%;
					transition: transform $transition-time;

					h6 {
						color: $white;
						font-family: $header-font-family;
						font-weight: 400;
						margin: 0 $small-copy-gap $small-copy-gap;
					}
					span {
						color: lighten($caption-color, 20%);
						display: block;
						margin: 0 $small-copy-gap $small-copy-gap;
					}
				}
			}
		}

		@media (min-width: $breakpoint-md)
		{
			h4 {
				text-align: left;
			}
			article {
				grid-template-columns: 1fr 1fr 1fr;

				figure {
					width: 100%;
				}
			}
		}

		@media (min-width: $breakpoint-lg)
		{
			article {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
		}
	}

	&.shows {
		h4 {
			text-align: center;
		}
		article {
			border-bottom: $border-style;

			div {
				display: flex;
			    align-items: center;
			    justify-content: center;
				margin: $small-copy-gap $container-padding;
				text-align: center;
			}

			.date {
				position: relative;

				span {
					display: flex;
					align-items: center;
    				justify-content: center;
					text-align: center;
					height: 80px;
					width: 100%;

					&:first-child {
						position: absolute;
						left: 0;
						z-index: 1;

						color: lighten($background-gray, 8%);
						font-family: $header-font-family;
						font-size: 80px;
						font-weight: 700;
						height: 80px;
						line-height: 80px;
					}
					&:last-child {
						position: relative;
						z-index: 2;
						color: $caption-color;
						font-family: $header-font-family;
					    letter-spacing: 0.5rem;
					    text-shadow: 0 0 48px #000;
					    text-transform: uppercase;
					}
				}
			}
		}

		@media (min-width: $breakpoint-md)
		{
			article {
			    display: grid;
			    gap: $block-gap;
			    grid-template-columns: 1fr 1fr 1fr;

			    div {
					margin: $small-copy-gap 0;

			    	&:first-child {
				    	order: 1;
				    }
			    	&:last-child {
				    	order: 3;
				    }
				}
			}
		}
	}

	&.videos {

		// modules with more than 1 video should go it 2 columns
		&:not([data-count="1"]) {
			.container {
				display: grid;
				gap: $block-gap;
				grid-template-columns: 1fr;
			}
		}

		figure {
			> div {
				position: relative;
				padding-bottom: 56.25%;

				iframe {
					aspect-ratio: 16 / 9;
					border-radius: $border-radius;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}

		@media (min-width: $breakpoint-lg)
		{
			&:not([data-count="1"]) {
				.container {
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}
}














