{% extends "_layouts/main" %}

{% set shows = craft.entries().section('shows').orderBy('showDate desc').all() %}

{% block title %}
    {{ entry.showsTitle }}
{% endblock %}

{% block hero %}
	<div class="hero small-hero">
		<div class="hero-image hero-band hero-grayscale"></div>
		<div class="hero-text">
			<h1>{{ entry.showsTitle }}</h1>
		</div>
	</div> 
{% endblock %}

{% block content %}
	<div id="shows" class="section-style1">
		<div class="container">
			{# <h2 class="text-left">{{ entry.showsTitle }}</h2> #}
			<p class="text-left mt-5 mb-5 mr-5">
				{{ events.eventText | replace({'contact us': '<a href="/sections/contact">contact us soon</a>'}) | raw }}
			</p>
			{% for show in shows %}
				{% if events.upcomingShowLimit > 5 %}
					{% include 'shows/_show' with { show: show, showtype: ((show.showDate | atom) < (now | date | atom) ? 'past' : '') } %}
				{% else %}
					{% include 'shows/_show' with { show: show, showtype: '' } %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}