{% if affiliates.showAds %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				{#<a href="https://91852e21s7kqb27dlmjk3zz6e8.hop.clickbank.net/?tid=INFINITYCY" class="ad cybershop" target="_blank">#}
				<a href="https://realitygems.com" class="ad cybershop" target="_blank">
					{#<img src="/images/cybershop.png" alt="">#}
					{#
					<img src="/images/ads/singorama.png" alt="">
					<span>Develop a Beautiful Singers Voice From an Experienced Vocal Coach!</span>
					#}
					<img src="https://realitygems.com/files/rg/android-chrome-512x512.png" alt="Reality Gems">
					<span>Reality Gems Entertainment Blog, it's not just a blog. It's Movie, TV and MCU news that will alter your reality!</span>
				</a>
			</div>
		</div>
	</div>
{% endif %}