{% if affiliates.showAds %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 col-lg-8">
				<a href="https://bandpioneer.com" class="ad cybershop" target="_blank">
					<img src="https://bandpioneer.com/assets/images/bp-logo.png" alt="Band Pioneer">
					<span class="d-none d-md-inline">Everything you need to know about starting a band, composing music, equipment, gigging, and so much more.</span>
				</a>
			</div>
		</div>
	</div>
{% endif %}